language: php

dist: trusty
sudo: false

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

git:
  depth: 1

before_install:
  - export PHP_MAJOR="$(`phpenv which php` -r 'echo phpversion();' | cut -d '.' -f 1)"
  - export PHP_MINOR="$(`phpenv which php` -r 'echo phpversion();' | cut -d '.' -f 2)"
  - echo $PHP_MAJOR
  - echo $PHP_MINOR

install:
  - cd $TRAVIS_BUILD_DIR
  # 更新扩展
  - sudo apt-get update
  - sudo apt-get install libpcre3-dev gcc make re2c
  # 安装扩展
  - bash tests/_ci/install_prereqs_$PHP_MAJOR.sh
  # 安装项目
  - composer self-update
  - cd $TRAVIS_BUILD_DIR
  - composer install --prefer-dist --optimize-autoloader

before_script:
  # 启动PHP
  - cd $TRAVIS_BUILD_DIR
  - php tests/server.php &> /dev/null &
  - php tests/server2.php &> /dev/null &

script:
  - cd $TRAVIS_BUILD_DIR
  - ./vendor/bin/phpunit